*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}

div{
    line-height: 0;
}


.background-img{
    background: url(/imgs/background.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.startTitle{
    background: url(/imgs/logo.png);
}

.btn{
    margin-top: 20px;
    border: none;
    color: white;
    background-color: teal;
    padding: 5px 20px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

/* box img */

.box{
    width: 2vw;
    height: 5vh;
    display: inline-block;
}

.current-box{
    width: 2vw;
    height: 5vh;
    display: inline-block;
}

.box:hover{
    border: 0.5px dotted black;
}

.box-cloud{
    background-color: white;
}
.box-sky{
    background-color:lightblue;
}


.box-floor{
    background: url(/imgs/full-land.png)no-repeat center center/cover;
}

.box-half-floor{
    background: url(/imgs/half-land.png)no-repeat center center/cover;
}

.box-tree{
    background: url(/imgs/tree-1.png)no-repeat center center/cover;
}

.box-grass{
    background: url(/imgs/tree.png)no-repeat center center/cover;
}
.box-rock{
    background: url(/imgs/rock.png)no-repeat center center/cover;
}



/* main */
main{
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 100vh;
}
.game{
    background-color: rgb(170, 170, 170);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    height: 90vh;
    width: 40vw;
    background-color: white;
}

.weapon-options{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weapon-border{
    margin: 5px;
    border: white 2px solid;
    width: 70px;
    height: 70px;
}

.current-element-border{
    margin: 5px;
    border: white 2px solid;
}

.weapon-border:hover,
.weapon-border:active,
.current-tool{
    background-color: #ffff;
}
.blue{
    background-color: blue;
}
.tool-pic{
    width: 100%;
    height: 100%;
}

